<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bitter">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="cal">
        <div id="calendar">
            <div id="top_calendar">
            </div>
            <div id="weekdays_calendar">
            </div>
            <div id="month_days_calendar">
			</div>
        </div>
    </div>
    <script type="text/template" id="month_days_calendar_tpl">
        <div>
            <span class="<%if(firstdayofweek === 0){%>holiday<%}%> first <%= monthdays[0].className%> <% if (today === monthdays[0].date && today_month === month && today_year === year){%>today<%}%>">
                <a href="#" data-date="<%= monthdays[0].date%>" class="<%if(monthdays[0].className !== 'idle' && month === selected_month && year === selected_year && monthdays[0].date === selected_date){%>selected<%}%>">
                    <%= monthdays[0].date%>
                </a>
            </span>
            <span class="<%= monthdays[1].className%> <% if (today === monthdays[1].date && today_month === month && today_year === year){%>today<%}%>">
                <a href="#" data-date="<%= monthdays[1].date%>" class="<%if(monthdays[1].className !== 'idle' && month === selected_month && year === selected_year && monthdays[1].date === selected_date){%>selected<%}%>">
                    <%= monthdays[1].date%>
                </a>
            </span>
            <span class="<%= monthdays[2].className%> <% if (today === monthdays[2].date && today_month === month && today_year === year){%>today<%}%>">
                <a href="#" data-date="<%= monthdays[2].date%>" class="<%if(monthdays[2].className !== 'idle' && month === selected_month && year === selected_year && monthdays[2].date === selected_date){%>selected<%}%>">
                    <%= monthdays[2].date%>
                </a>
            </span>
            <span class="<%= monthdays[3].className%> <% if (today === monthdays[3].date && today_month === month && today_year === year){%>today<%}%>">
                <a href="#" data-date="<%= monthdays[3].date%>" class="<%if(monthdays[3].className !== 'idle' && month === selected_month && year === selected_year && monthdays[3].date === selected_date){%>selected<%}%>">
                    <%= monthdays[3].date%>
                </a>
            </span>
            <span class="<%= monthdays[4].className%> <% if (today === monthdays[4].date && today_month === month && today_year === year){%>today<%}%>">
                <a href="#" data-date="<%= monthdays[4].date%>" class="<%if(monthdays[4].className !== 'idle' && month === selected_month && year === selected_year && monthdays[4].date === selected_date){%>selected<%}%>">
                    <%= monthdays[4].date%>
                </a>
            </span>
            <span class="<%= monthdays[5].className%> <% if (today === monthdays[5].date && today_month === month && today_year === year){%>today<%}%>">
                <a href="#" data-date="<%= monthdays[5].date%>"  <%if(monthdays[5].className !== 'idle' && month === selected_month && year === selected_year && monthdays[5].date === selected_date){%>selected<%}%>">
                    <%= monthdays[5].date%>
                </a>
            </span>
            <span class="<%if(monthdays[6].className !== 'idle' && month === selected_month && year === selected_year && monthdays[6].date === selected_date){%>selected<%}%> <%if(firstdayofweek === 1){%>holiday<%}%> last <%= monthdays[6].className%> <% if (today === monthdays[6].date && today_month === month && today_year === year){%>today<%}%>">
                <a href="#" data-date="<%= monthdays[6].date%>" class="<%if(monthdays[6].className !== 'idle' && month === selected_month && year === selected_year && monthdays[6].date === selected_date){%>selected<%}%>">
                    <%= monthdays[6].date%>
                </a>
            </span>
        </div>
    </script>
	<script type="text/template" id="top_calendar_tpl">
        <span class="left">
	        <a id="prev_month" href="#" title='<%=prev%>'></a>
        </span>
        <span class="month_year">
            <span class="month">
                <a id="change_month" href="#">
                    <%= month %>
                </a>
                <ul id="month_list" class="hidden">
                    <% for(var nIndex = 0; nIndex < months.length; nIndex++){%>
                        <li data-month="<%=nIndex%>" <% if(indexMonth === nIndex){%>class="selected"<%}%>>
                            <a href="#">
                                <%= months[nIndex]%>
                            </a>
                        </li>
                        <% if(nIndex === months.length -1){%>
                        <li class="last"></li>
                        <%}%>
                    <% } %>
                </ul>
            </span>
            <span class="year">
                <a id="change_year" href="#">
                    <%= year %>
                </a>
                <ul id="year_list" class="hidden">
                    <% for(var nIndex = 0; nIndex < years.length; nIndex++){%>
                        <li data-year="<%= years[nIndex]%>" <% if(year === years[nIndex]){%>class="selected"<%}%>>
                            <a href="#">
                                <%= years[nIndex]%>
                            </a>
                        </li>
                        <% if(nIndex === years.length -1){%>
                        <li class="last"></li>
                        <%}%>
                    <% } %>
                </ul>
            </span>
        </span>
        <span class="right">
            <a id="next_month" href="#" title='<%=next%>'></a>
        </span>
	</script>
    <script type="text/template" id="weekdays_calendar_tpl">
        <span>
            <%= weekdays[0]%>
        </span>
        <span>
            <%= weekdays[1]%>
        </span>
        <span>
            <%= weekdays[2]%>
        </span>
        <span>
            <%= weekdays[3]%>
        </span>
        <span>
            <%= weekdays[4]%>
        </span>
        <span>
            <%= weekdays[5]%>
        </span>
        <span>
            <%= weekdays[6]%>
        </span>
    </script>
    <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="locales/en_calendar.js"></script>
    <script type="text/javascript" src="locales/es_calendar.js"></script>
	<script type="text/javascript" src="js/Calendar.js"></script>
	<script type="text/javascript">
        var oCalendar = new Calendar();
        oCalendar.setLocale(EN_calendar);
		oCalendar.drawTopCalendar(document.getElementById('top_calendar'));
        oCalendar.drawWeekDays(document.getElementById('weekdays_calendar'));
        oCalendar.drawMonthDays(document.getElementById('month_days_calendar'));
        oCalendar.setBehaviour();
	</script>
</body>
</html>